:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --third-text-color: #ffffff;
  --icon-grey-main-color:#afb1b8;
  --card-border: 1px solid #eeeeee;
  --card-list-gap: 15px;
}
/*Общие стили*/
body {
  background-color: var(--third-text-color);
  color: var(main-text-color);
  font-family: "Roboto", sans-serif;
  
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  margin-bottom: 9px;
}
 
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
p:last-child {
  margin-bottom: 0;
}
ul,
ol {
  padding: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 1px solid tomato;*/
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.main-title,
.advantages-title {
  text-transform: uppercase;
}

/*Логотип*/
.logo {
  font-family: "Raleway", sans-serif; 
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  width: 145px;
  height: 31px;
  margin-left: auto;
  margin-right: 45px;
}
.logo-header {
  font-family: "Raleway",sans-serif;
  color: var(--secondary-text-color);
}

/*Навигация*/

.navigation {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  align-items: center;
  justify-content: start;
}
.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.site-nav :last-child {
  margin-right: 0px;
}
.site-nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  letter-spacing: 0.02em;
}
.site-nav .item {
  margin-left: 50px;
}
.site-nav.item:first-child {
  margin-left: 0;
}
.site-nav {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  margin-left: auto;
}
.site-nav-link {
  display: block;
  color: var(--secondary-text-color);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
}

/*Контакти заголовка*/
.contact-adress,
.contact-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-left: 50px;
}

.contact-adress,
.contact-number {
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }
.contact-adress {
   align-items: baseline;
   
   align-items:center;
}

.contact-adress:hover,
.contact-adress:focus {
  color: var(--accent-color);
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.icon-item {
  fill: currentColor;  
  margin-right: 10px;
}

.header-contacts {
  display: flex;
}
.header-contacts {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}    
.header-contacts.item+.item {
  margin-left: 50px
}

/*раздел Героя*/

.modal-btn {
  padding: 10px 32px;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #ffffff;
  color: #2196f3;
}
.main-title {
  color: var(--third-text-color);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}

.hero {
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  text-align: center;
  align-items: center;
}
.hero {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)),url('../img/Img\ \(1\).jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*Преимущества*/
.advantages-content {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages {
  margin-top: auto;
  padding-top: 94px;
}

.features {
  margin-right: 30px;
  width: 270px;
}

.features:last-child {
  margin-right: 0px;
 
}
 
.icon-box {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.advantages-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.advantages-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 0;
}

/*Чем ми занимаемся*/
.boxes {
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
}
.box {
  margin-right: 30px;
  width: 370px;
  height: 294px;
}
.box:last-child {
  margin-right: 0px;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
  text-align: center;
}
 
/*Наша команда*/

.section-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
}
.section-profession {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-bottom: 0;
  margin-bottom: 0px;
  margin-top: 10px;
  color: var(--main-text-color);
}
.team {
  background-color: #f5f4fa;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
  border-radius: 0px 0px 4px 4px;
}
.section {
  padding-top: 94px;
  padding-right: 0px;
  padding-bottom: 94px;
  padding-left: 0px;
}
.team-mate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.team-card {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.team-mate {
  margin-right: 30px;
  text-align: center;
}
.team-mate {
  box-sizing: border-box;
  width: 270px;
  
  border: 1px;
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 0;
  margin-bottom: 0;
}
.team-mate:last-child {
  margin-right: 0;
}

.section-name,
.section-profession {
  text-align: center;
  align-items: center;
}

.team-mate:last-child {
  padding-right: 0px;
}
.social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 0;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color:  none;
  border-radius: 50%;
}
.social-list-icon {
  fill: var(--icon-grey-main-color);
  
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-icon:hover,
.social-list-icon:focus  { 
  fill: var(--third-text-color);
}
/*Постоянные клиенты*/

.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
 
.clients-item:  {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: var(--main-text-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
}
 
.clients-link:hover {
  border-color: var(--accent-color);
}

.clients-logo {
  fill: #afb1b8;
} 

.clients-link:hover .clients-logo ,
.clients-link:focus .clients-logo {
  fill: var(--accent-color);
}
 
   
/*Подвал*/

.address {
  font-style: normal;
  margin-top: 20px;
}
.footer {
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address-map {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  cursor: pointer;
}
 
.footer-address-map:hover,
.footer-address-map:focus {
  color: var(--accent-color);
}

.footer-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6); 
  cursor: pointer;
}
.footer-item {
  margin-bottom: 9px;
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}
.container footer  {
  display: flex;
  flex-direction: column;
}
.contacts {
  margin-top: 20px;
}

.logo-footer {
  color: var(--third-text-color);
  font-family: Raleway, sans-serif;
}

.footer-logo {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  cursor: pointer;
}

.footer-contacts {
  margin: 0;
}
.join-name {
  font-family:"Roboto",sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03;
  color: var(--third-text-color);
  text-transform: uppercase;
}
.social-list-footer {
  display: flex;
  margin-top: 10px;
}
.social-list-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;
}
.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: var(--main-text-color);
}
.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: var(--accent-color);
}
.social-list-link-footer:hover.social-list-icon {
   fill:#ffffff ;
}
.social-list-item {
   margin-right: 10px;
}
.social-list-icon-footer {
  fill: var(--third-text-color);
}

.footer-info  {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 70px;
}
.footer {
  display: flex;
  align-items: baseline;
}


/*Фильтри*/
.button-secondary {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  background-color: #f5f4fa;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  height: 38px;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 6px 22px;
 justify-content: center;
}
.button-sec {
  margin-right: 8px;
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-sec:last-child {
  margin-right: 0;
}
/*Продукти*/

.product-img {
  display: block;
}

.product-name {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  margin-bottom: 4px;
}
.product-sphere {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  margin: 0;
}

/*Портфолио*/
.section {
  padding-bottom: 94px ;
  padding-top: 94px;
}
.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
}
.portfolio {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.product {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1* var(--card-list-gap));
}
.product-card {
  display: block;
  margin: var(--card-list-gap);
  flex-basis: calc(100% / 3-2 * var(--card-list-gap))
          calc((100%-90px) / 3);
  }

 
.card-content {
  padding-top: 20px ;
  padding-right: 24px ;
  padding-bottom: 20px;
  padding-left: 24px;
  border: var(--card-border);
  border-top: 0;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
}
.product-name {
  font-weight: 700 ;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color) ;
  text-decoration: none;
}
 
.product-card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-product:nth-child(3n+1) {
  margin-left: 0px;
}

.portfolio-product {
  display: block;
}

.portfolio-product:hover, 
.portfolio-product:focus {    
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  background: #ffffff;
  cursor: pointer;
}